/* media for 814px header */

@media screen and (max-width: 814px) {
   .logo {
      font-size: 18px;
   }

   .menu li {
      font-size: 14px;
      margin-right: 25px;
   }
}

@media screen and (max-width: 820px) {
   .title__container h1 {
      font-size: 45px;
   }
}